{% extends "base.html" %}

{% block page_title %}Genre Detail Title{% endblock page_title %}

{% block body %}
    <h1>Detail Genre: {{ genre.name }}</h1>

    <!-- Values indexes are accessed as follow -->
    <h4>Creator: {{ creators.1 }}</h4>

    <!-- NOTE: that even though we are sending dict in the context,
    we are accessing the value with a dot method instead of traditional dict[key] -->
    <h4>Page short description: {{ page_description.short_description }}</h4>
    <h4>Page long description: {{ page_description.long_description }}</h4>

    {% if genre.movies.all %}
        <p>Filmy:</p>
        <ul>
            {% for movie in movies %}
                <li><a href="{% url 'movie_detail' movie.id %}">{{ movie.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock body %}
